<% if resource.errors.any? %>
  <div class="error-messages">
    <div class="error-header">
      <h4><%= pluralize(resource.errors.count, "error") %> prohibited this account from being created:</h4>
    </div>
    <ul class="error-list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>